<launch>
  <arg name="namespace" default="camera"/>
  <arg name="multicam_config_file" default="/config/multicam_config_file.yaml"/>
  <arg name="external_manager"    default="false"/>
  <arg name="manager"             default="realsense2_framos_camera_manager"/>
  <arg name="required"            default="false"/>

  <group ns="$(arg namespace)">
    <node unless="$(arg external_manager)" pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" required="$(arg required)"/>
    <node pkg="nodelet" type="nodelet" name="realsense2_framos_camera" args="load realsense2_framos_camera/FramosRealSenseNodeFactory $(arg manager)" required="$(arg required)">
      <param name="multicam_config_file"     type="str"  value="$(arg multicam_config_file)"/>
      
      <rosparam file="$(find realsense2_framos_camera)$(arg multicam_config_file)" command="load"/>

    </node>
  </group>
</launch>
